---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import SocialPeel from '../components/SocialPeel.astro';
import ButtonNeon from '../components/ButtonNeon.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-[80%] max-w-[120rem] mx-auto hero pt-[10rem]">
			<div class="pt-[5rem]">
				<h1 class="text-[4.5rem] font-bold">Hola, Soy Alexis.</h1>
				<h2 class="text-[4.2rem] title  max-w-[60rem]">Un Desarrollador web con base en Monterrey, NL.</h2>

				<div class="">
					<SocialPeel/>
				</div>
				
			</div>
			<div>
				<img src="code.png" alt="Code-Icon" class="w-[80rem] code">
			</div>
		</section>
		<Slider/>
		<section class="w-[80%] max-w-[120rem] mx-auto pt-[9rem]">
			<h2 class="text-[3.5rem] font-bold text-center" >Experiencia laboral</h2>
			
		</section>
	</main>
</Layout>

<style>
	.hero{
		@media(min-width:768px){
		
		      display: grid;
			  grid-template-columns: 2fr 1fr;
			  column-gap: 4rem;
		
		}
	}

	.code{
		animation-name: rotateb;
		animation-duration: 55s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		transform: rotate();

	}
	@keyframes rotateb{
		from{
			transform: rotate(360deg);
			
		}to{
			transform: rotate(0deg);
			
		} 
	}
	
</style>

