---
import LogoIcon from "../components/icons/logo.astro";
import Button from "../components/Button.astro";

---
<header class="w-full py-11">
    <div class="bg">

    
    <div class="w-[90%] max-w-[120rem] mx-auto flex justify-between">
        <a href="/" class="flex gap-x-2 items-center text-5xl title font-bold ">
           
            <LogoIcon class="size-12" />
            AlexDev
        </a>
        <nav class="flex nav gap-x-[3rem] items-center hola">
            <a  href="/">Inicio</a>
            <a href="#experience">Experiencia</a>
            <a href="#projects">Proyectos</a>
            <a href="#Sobre mi">Sobre mi</a>
        </nav>

        <Button/>

    </div>
    </div>
</header>

<style>
    
    
</style>